In [165]:
import pandas as pd
import csv
from csv import reader

In [166]:
#   Financial Analysis
#   ----------------------------
#   Total Months: 86
#   Total: $38382578
#   Average  Change: $-2315.12
#   Greatest Increase in Profits: Feb-2012 ($1926159)
#   Greatest Decrease in Profits: Sep-2013 ($-2196167)

# 1. budget_data:
1. Read and Manipulate Data

In [167]:
path = "C:\\Users\\eszczepalink\\Downloads\\Starter_Code (2)\\Starter_Code\\PyBank\\Resources\\budget_data.csv"

In [168]:
budget_data = pd.read_csv(path)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

# 2. make a copy of original Dataframe

In [169]:
DF_b = budget_data.copy()

In [170]:
DF_b_d = DF_b.set_index("Date")
DF_b_d.tail()

          Profit/Losses
Date
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

In [171]:
DF_b_d.dtypes

Profit/Losses    int64
dtype: object

# Calculations

In [172]:
#   Total Months: 86
Total_Months = len(DF_b_d)
Total_Months

86

In [173]:
#   Total: $38382578
Total = DF_b_d["Profit/Losses"].sum()
Total

38382578

In [252]:
# Create an empy lists to store data in them  
Total_Months = []
Total = []

In [254]:
# open csv file, eliminate headers than loop through entire rows and store into list each items needed 
with open(path,'r') as file:
    reader = csv.reader(file)
    headers = next(reader)
    for row in reader:
        Total_Months.append(row[0])
        Total.append(int(row[1]))
        #print(row[0])
        #print(row[1]

In [255]:
# Loop Through Profits/Losses list 
totalProf= 0
for j in Total:
    totalProf = j + totalProf
print(totalProf)

38382578

In [256]:
#   Average  Change: $-2315.12
# row (next row - current row) ---

In [257]:
len(Total)

86

In [259]:
# profits/Losses change
# using list comprehention to create a new list
ProfLossChange = [Total[i+1] - Total[i] for i in range(0,len(Total)-1)]

In [260]:
print(ProfLossChange)

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [241]:
len(ProfLossChange)

85

In [284]:
# average change
average_change = sum(ProfLossChange)/len(ProfLossChange)
average_change

-2315.1176470588234

In [244]:
#   Greatest Increase in Profits: Feb-2012 ($1926159)
#   Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [277]:
max(ProfLossChange)

1926159

In [278]:
min(ProfLossChange)

-2196167