In [29]:
import pandas as pd
import csv
from pathlib import Path
from csv import reader

# 2.Menu_data
1. Part 1:
  - Read the data

In [30]:
pwd

'C:\\Users\\eszczepalink\\Downloads\\Starter_Code (2)\\Starter_Code\\PyRamen\\Resources'

In [31]:
ls

 Volume in drive C is OS
 Volume Serial Number is C454-A3F0

 Directory of C:\Users\eszczepalink\Downloads\Starter_Code (2)\Starter_Code\PyRamen\Resources

07/13/2022  03:06 PM    <DIR>          .
07/13/2022  07:23 AM    <DIR>          ..
07/13/2022  01:22 PM    <DIR>          .ipynb_checkpoints
07/13/2022  07:23 AM             4,132 menu_data.csv
07/13/2022  01:32 PM             6,188 Py_Ramen.ipynb
07/13/2022  07:23 AM         4,306,311 sales_data.csv
07/13/2022  03:06 PM            19,052 Untitled.ipynb
               4 File(s)      4,335,683 bytes
               3 Dir(s)  247,256,092,672 bytes free

In [32]:
Path ="C:\\Users\\eszczepalink\\Downloads\\Starter_Code (2)\\Starter_Code\\PyRamen\\Resources\\menu_data.csv"

In [33]:
menu_data = pd.read_csv("menu_data.csv").head()
menu_data

,item,category,description,price,cost
0,edamame,appetizers,"boiled soybeans, maldon sea salt",4.0,1
1,house salad,appetizers,"mixed greens, cherry tomatoes, cucumber, house...",4.0,2
2,cucumber sunomono salad,appetizers,"cucumber, ponzu dressing, pickled ginger sprou...",5.0,2
3,hiyashi wakame seaweed salad,appetizers,"sweet soy-marinated wakame seaweed threads, pi...",5.0,2
4,agedashi tofu,appetizers,"tempura battered tofu, katsuobushi, tsuyu brot...",5.0,2

In [34]:
pd.read_csv("menu_data.csv").head().dtypes

item            object
category        object
description     object
price          float64
cost             int64
dtype: object

In [35]:
pd.read_csv("menu_data.csv").columns

Index(['item', 'category', 'description', 'price', 'cost'], dtype='object')

In [36]:
menu = []
with open(Path, 'r') as file:
    reader = csv.reader(file)
    headers = next(reader)
    for row in reader:
        menu.append(row)
#print(menu_data)

# 2.Sales_data
1. Part 1:
  - Read the data

In [5]:
Path ="C:\\Users\\eszczepalink\\Downloads\\Starter_Code (2)\\Starter_Code\\PyRamen\\Resources\\sales_data.csv"

In [6]:
sales_data = pd.read_csv("sales_data.csv").head()
sales_data

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,01-01-2017,7437926611570799,1,spicy miso ramen
1,2,01-01-2017,7437926611570799,1,spicy miso ramen
2,3,01-01-2017,8421920068932819,3,tori paitan ramen
3,4,01-01-2017,8421920068932819,3,tori paitan ramen
4,5,01-01-2017,4787310681569648,1,truffle butter ramen

In [7]:
pd.read_csv("sales_data.csv").head().dtypes

Line_Item_ID           int64
Date                  object
Credit_Card_Number     int64
Quantity               int64
Menu_Item             object
dtype: object

In [8]:
pd.read_csv("sales_data.csv").columns

Index(['Line_Item_ID', 'Date', 'Credit_Card_Number', 'Quantity', 'Menu_Item'], dtype='object')

In [9]:
sales = []
with open(Path, 'r') as file:
    reader = csv.reader(file)
    headers = next(reader)
    for row in reader:
        sales.append(row)
#print(sales_data)

# 2. Manipulate the Data

In [10]:
report = {"01-count":"the total quality for each ramen type",
          "02-revenue": "the total revenue for each ramen type",
          "03-cogs":"the total cost of goods sold for each ramen type",
          "04-profit": "the total profit for each ramen type"}

In [12]:
# looping through every row in sales list object
Quantity = []
Menu_Item = []
for row in sales:
    Quantity.append(row)
    Menu_Item.append(row)
print(Quantity )

['Line_Item_ID', 'Date', 'Credit_Card_Number', 'Quantity', 'Menu_Item']

In [24]:
# check if sales_item including in report
report.items()

dict_items([('01-count', 'the total quality for each ramen type'), ('02-revenue', 'the total revenue for each ramen type'), ('03-cogs', 'the total cost of goods sold for each ramen type'), ('04-profit', 'the total profit for each ramen type')])

In [25]:
sales_data

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,01-01-2017,7437926611570799,1,spicy miso ramen
1,2,01-01-2017,7437926611570799,1,spicy miso ramen
2,3,01-01-2017,8421920068932819,3,tori paitan ramen
3,4,01-01-2017,8421920068932819,3,tori paitan ramen
4,5,01-01-2017,4787310681569648,1,truffle butter ramen

In [ ]:
sales_item = {"01-count":"the total quality for each ramen type"}

In [28]:

               new_report = {"sales_item":{"01-count":"the total quality for each ramen type",
          "02-revenue": "the total revenue for each ramen type",
          "03-cogs":"the total cost of goods sold for each ramen type",
          "04-profit": "the total profit for each ramen type"},
                "values":{
                        "01-count": 0,
                         "02-revenue": 0,
                         "03-cogs": 0,
                         "04-profit": 0,
                    
                }}

In [ ]:
# looping through  row menu

In [38]:
menu = []
for row in menu:
    Item.append(row)
    Price.append(row)
    Cost.appent(row)